@orange: #c76d47;
@dark-blue: #4e7089;
@icon-gray: #777;
@icon-faded: #444;

#svg-defs {
    display: none;
}

.graphic {
    .icon {
        fill: @icon-gray;
    }

    .highlight-visible {
        .icon.icon-highlight {
            fill: @orange;
            transition: fill 1200ms ease;
        }

        .icon.icon-non {
            fill: @icon-faded;
            transition: fill 1200ms ease;
        }
    }

    .highlight-2-visible {
        .icon.icon-highlight {
            &.icon-highlight-2 {
                opacity: 1;
            }

            &.icon-highlight-2-non {
                fill: @icon-faded;
                transition: fill 1200ms ease;
            }
        }
    }

    .non-invisible .icon.icon-non {
        opacity: 0;
    }
}
