@orange: #c76d47;
@dark-blue: #4e7089;
@icon-gray: #777;

#svg-defs {
    display: none;
}

.graphic {
    .icon {
        fill: @icon-gray;
    }

    .highlight-visible .icon.icon-highlight {
        fill: @orange;
        transition: fill 800ms ease;
    }

    .highlight-2-visible {
        .icon.icon-highlight {
            opacity: 0.5;
            transition: opacity 800ms ease;

            &.icon-highlight-2 {
                opacity: 1;
            }
        }
    }

    .non-invisible .icon.icon-non {
        opacity: 0;
    }
}
