@orange: #e48347;
@orange-fade: #ce8a5f;
@dark-blue: #4e7089;
@pale-blue: #61829e;
@pink: rgba(200, 66, 119, 1);
@icon-gray: #a0aab0;

#svg-defs {
    display: none;
}

.graphic {
    .icon {
        fill: @icon-gray;
        transition: opacity 150ms ease;

        &.init-hidden {
            opacity: 0;
        }
    }

    .highlight-visible {
        .icon.icon-highlight {
            fill: @orange;
            transition: fill 1200ms ease;
        }

        .icon.icon-non {
            fill: @icon-gray;
            transition: fill 1200ms ease;
            opacity: 0.5;
        }
    }

    .highlight-2-visible {
        .icon.icon-highlight {
            &.icon-highlight-2 {
                opacity: 1;
                transition: fill 1200ms ease;
                fill: saturate(lighten(@orange, 8%), 18%);
            }

            &.icon-highlight-2-non {
                opacity: 0.5;
                transition: opacity 1200ms ease;
                fill: @orange-fade;
            }
        }
    }

    .non-invisible .icon.icon-non {
        opacity: 0;
    }
}

.ratio-p {
    min-height: 120px;
}

.density-viz {
    position: relative;
    display: inline-block;
    width: 20%;

    img {
        background: rgba(0, 0, 0, 0.4);
    }

    .density-label-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        display: flex;
        align-items: center;
    }

    .density-label {
        width: 100%;
        font-size: 0.7em;

        .density-num {
            font-weight: bold;
            font-size: 3em;
            display: block;
        }
    }
}
