.slide.full-bleed {
    .illustrations {
        // position: relative;

        > div { position: absolute; }
        .student {
            width: 45%;
            top: 50px;
            left: 33%;
        }
        .bubble {
            // width: 120px;
            // height: 120px;
            width: 11%;
            height: auto;
            overflow: hidden;
            overflow: hidden;
            border-radius: 200px;
            background-color: @dark-blue;
            border: 4px solid transparent;

            &.bubble1 {
                top: 13%;
                right: 9%;
            }
            &.bubble2 {
                top: 44%;
                right: 8%;
            }
            &.bubble3 {
                top: 44%;
                left: 20%;
            }
            &.bubble4 {
                top: 2%;
                left: 20%;
            }
        }
        .thought {
            width: 5%;

            &.thought1 {
                top: 24%;
                right: 20%;
            }
            &.thought2 {
                top: 43%;
                right: 19%;
            }
        }
    }

    .full-block-cell { vertical-align: bottom; }

    .full-block-content {
        padding: 0;

        @media @screen-small-above {
            max-width: 1000px;
        }
    }

    .bleed-box {
        padding: 10px 20px 20px 20px;
        background: @caption-screen-dark;
            /*width: 100%;*/

        @media @screen-small-above {
            padding: 20px;
        }

        p {
            line-height: 1.5;
            text-shadow: none;
            max-width: 700px;
            margin: 15px auto;
            font-size: 14px;

            @media @screen-small-above { font-size: 18px; }
            @media @screen-mega-above  { font-size: 22px; }
        }
    }
}
