.slide.next-post {
    .full-block-content {
        max-width: 1200px;    }
}

.next-post-wrapper {
    display: table;
    margin: 0 auto;
    width: 100%;

    .secondary-column {
        font-family: "Gotham Ssm", Helvetica, Arial, sans-serif;
        .facebook, .support, .did-not-like {
            display: none;
        }

        .like-story {
            text-align: left;
        }
        padding: 20px;
        max-width: 450px;

        @media @screen-small-above {
            margin-bottom: 20px;
        }

        @media @screen-medium-above {
            display: table-cell;
            vertical-align: middle;
            width: 40%;
        }

        h3 {
            margin-bottom: 10px;
            font-size: 16px;
            text-transform: uppercase;
            font-family: "Gotham Ssm", Helvetica, Arial, sans-serif;
            font-weight: bold;
            text-align: left;
            color: white;
            @media @screen-small-above {
                font-size: 20px;
            }
        }

        p {
            max-width: 700px;
            font-family: "Gotham Ssm", Helvetica, Arial, sans-serif;

        }

        .share-section {
            padding: 10px 0;

            @media @screen-small-above {
                padding: 25px 0 5px 0;
            }
        }

        .share-panel {
            b {
                padding: 0 5px;
                &:hover,
                &:focus {
                    text-decoration: underline;
                }
            }

            .button-wrapper {
                a {
                    font-size: 12px;
                    display: inline-block;
                    font-weight: bold;
                    text-decoration: none;
                    padding: 5px;
                    background-color: white;
                    color: black;

                    &:hover,
                    &:focus {
                        background-color: @pink;
                        color: #fff;
                        b {
                            text-decoration: none;
                            font-family: "Gotham Ssm", Helvetica, Arial, sans-serif;
                        }
                    }

                    @media @screen-small-above {
                        font-size: 16px;
                        padding: 5px 10px;
                    }
                }

                float: left;
            }

            .share-link {
                font-size: 12px;
                text-align: left;
                i {
                    font-size: 18px;
                    min-width: 16px;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
                a {
                    &:hover,
                    &:focus {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .primary-column {
        vertical-align: middle;
        margin-bottom: 10px;

        @media @screen-medium-above {
            margin-bottom: 20px;
        }

        img {
            display: block;
            width: 100%;
            height: auto;
            max-width: 600px;
        }

        @media @screen-medium-above {
            display: table-cell;
            width: 60%;
        }
    }

    .btn.btn-go {
        margin-bottom: 20px;
        background-color: white;
        color: black;
        font-weight: bold;
        border-radius: 0;

        &:hover,
        &:focus {
            .no-touch & {
                background-color: @pink;
                color: #fff;
                cursor: pointer;
            }
        }
    }

    .project-credits {
        margin: 0 auto 20px auto;
        font-family: gotham, helvetica, sans-serif;

        h6 {
            font-size: 16px;
            margin: 15px 0;
            font-weight: bold;
            text-transform: uppercase;
            color: #ccc;
            text-align: left;
        }
        p {
            font-family: gotham, helvetica, sans-serif;
            font-size: 11px;
            color: #ccc;
            text-shadow: none;
            text-align: left;
            line-height: 1.2;
            @media @screen-small-above {
                font-size: 13px;
            }
        }
    }

    .more-stories {
        margin: 0 auto;
        // background: rgba(32, 71, 104, 0.7);
        background: rgba(7, 33, 53, 0.7);
        padding: 20px;

        @media @screen-small-above {
            max-width: 500px;
            padding: 100px 60px;
        }

        @media @screen-medium-above {
            max-width: 800px;
        }

        h3 {
            margin: 0;
            text-transform: uppercase;
            font-family: "Gotham Ssm", Helvetica, Arial, sans-serif;
            font-weight: 700;
            text-align: left;
            color: #ccc;
            font-size: 13px;

            @media @screen-small-above { font-size: 16px; }
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                margin-top: 30px;
                line-height: 1.5;
                font-size: 12px;

                @media @screen-small-above { font-size: 14px; }

                a { color: #ddd; }

                strong {
                    font-weight: bold;
                    color: #d48656;
                }
            }
        }
    }
}
