{% extends '_slide.html' %}

{% block slide_content %}
<div class="next-post-wrapper">
    <div class="primary-column">
        <div class="more-stories">
            <h3>{{ COPY.content.more_title }}</h3>
            <ul>
                {% for more in COPY.more %}
                <li><a href="{{ more.link }}">
                    <strong>{{ more.headline|smarty }}</strong>
                    {{ more.description|smarty }}
                </a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="secondary-column">
        <div class="share-panel share-panel-section clearfix">
                <div class="facebook">
                <h3>{{ COPY.share.fb_share_prompt|smarty }}</h3>
                <p class="button-wrapper">
                    <a class="btn-facebook" href="https://www.facebook.com/dialog/feed?app_id={{ COPY.share.facebook_app_id }}&amp;link={{ COPY.share.share_url|urlencode }}&amp;name={{ COPY.share.facebook_title|urlencode }}&amp;picture={{ COPY.share.facebook_image_url|urlencode }}&amp;redirect_uri={{ COPY.share.share_url|urlencode }}" target="_blank"><i class="icon-facebook"></i> <b> {{ COPY.share.fb_share_call }} </b></a>
                </p>
            </div>

            <div class="support">
                <h3>{{ COPY.share.support_prompt|smarty }}</h3>
                <p class="button-wrapper">
                    <a class="btn-support" href="http://www.npr.org/donate"><i class="icon-heart"></i> <b> {{ COPY.share.support_call|smarty }} </b></a>
                </p>
            </div>

            <div class="like-story">
                <h3>{{ COPY.share.like_prompt|smarty }}</h3>

                <button class="btn btn-go btn-lg btn-like-story yes">Yes</button>
                <button class="btn btn-go btn-lg btn-like-story no">No</button>
            </div>

            <div class="did-not-like">
                <h3>{{ COPY.share.did_not_like_prompt|smarty }}</h3>

                <p class="button-wrapper">
                    <a class="dislike-email" href="mailto:npred@npr.org?subject={{ COPY.share.email_subject }}"><i class="icon-mail-alt em"></i> <b> Email us your thoughts </b></a>
                </p>
            </div>

        </div><!-- / share-panel-section -->

        <div class="project-credits">
            <h6>Project Credits</h6>
            {{ row.text2|smarty }}
            {{ row.text3|smarty }}
        </div>
    </div>
{% endblock %}
