{% extends '_slide.html' %}
{% block slide_content %}
    {{ row.text1|smarty }}

    <div class="density-wrapper">
        <div class="density-viz">
            <img class="lazy-load" data-src="ratio-teacher.png" alt="Visualization of ratio">
            <div class="density-label-wrap">
                <span class="density-label">
                    <span class="density-num"><span>21-27</span></span>
                    <span class="density-role">students per class</span>
                </span>
            </div>
        </div>
        <div class="density-viz">
            <img class="lazy-load" data-src="ratio-counselor.png" alt="Visualization of ratio">
            <div class="density-label-wrap">
                <span class="density-label">
                    <span class="density-num"><span>491</span></span>
                    <span class="density-role">students per counselor</span>
                </span>
            </div>
        </div>
        <div class="density-viz">
            <img class="lazy-load" data-src="ratio-nurse.png" alt="Visualization of ratio">
            <div class="density-label-wrap">
                <span class="density-label">
                    <span class="density-num"><span>1,151</span></span>
                    <span class="density-role">students per nurse</span>
                </span>
            </div>
        </div>
        <div class="density-viz">
            <img class="lazy-load" data-src="ratio-psychologist.png" alt="Visualization of ratio">
            <div class="density-label-wrap">
                <span class="density-label">
                    <span class="density-num"><span>1,400</span></span>
                    <span class="density-role">students per psychologist</span>
                </span>
            </div>
        </div>
    </div>

{% endblock %}
