{% extends '_slide.html' %}
{% block slide_content %}
    {{ row.text1|smarty }}

    <div class="density-wrapper">
        <div class="density-viz">
            <img class="lazy-load" data-src="ratio-teacher.png" alt="Visualization of ratio">
            <div class="density-label-wrap">
                <span class="density-label">
                    <span class="density-num">21-27</span> students per class
                </span>
            </div>
        </div>
        <div class="density-viz">
            <img class="lazy-load" data-src="ratio-counselor.png" alt="Visualization of ratio">
            <div class="density-label-wrap">
                <span class="density-label">
                    <span class="density-num">500</span> students per counselor
                </span>
            </div>
        </div>
        <div class="density-viz">
            <img class="lazy-load" data-src="ratio-nurse.png" alt="Visualization of ratio">
            <div class="density-label-wrap">
                <span class="density-label">
                    <span class="density-num">1,151</span> students per nurse
                </span>
            </div>
        </div>
        <div class="density-viz">
            <img class="lazy-load" data-src="ratio-psychologist.png" alt="Visualization of ratio">
            <div class="density-label-wrap">
                <span class="density-label">
                    <span class="density-num">1,400</span> students per psychologist
                </span>
            </div>
        </div>
    </div>

{% endblock %}
