{% extends '_slide.html' %}
{% block slide_content %}
    <div class="bubble-illustration">
        <!-- <img data-src="solutions-student-bubbles03.png" class="lazy-load" alt="illustration" id="original" /> -->
        <img data-src="solutions-student.png" class="student lazy-load" alt="illustration" />
        <img data-src="solutions-01-teacher.png" class="solution01 bubble teacher lazy-load" alt="illustration" />
        <img data-src="solutions-01-friends.png" class="solution01 bubble friends lazy-load" alt="illustration" />
        <img data-src="solutions-01-mother.png" class="solution01 bubble mother lazy-load" alt="illustration" />
        <img data-src="solutions-01-adult.png" class="solution01 bubble adult lazy-load" alt="illustration" />
        <img data-src="solutions-02-nurse.png" class="solution02 bubble nurse lazy-load" alt="illustration" />
        <img data-src="solutions-02-counselor.png" class="solution02 bubble counselor lazy-load" alt="illustration" />
        <img data-src="solutions-02-psych.png" class="solution02 bubble psych lazy-load" alt="illustration" />
        <img data-src="solutions-03-outside.png" class="solution03 bubble outside lazy-load" alt="illustration" />
    </div>
    {{ row.text1|smarty }}
{% endblock %}
