<!DOCTYPE html>
<html lang="en">

<head>
    <!-- GDPR compliance -->
    <script type="text/javascript" src="//{{ S3_BUCKET }}/gdpr/gdprCompliance.js" />

    <!-- CHARTBEAT -->
    <script type="text/javascript">
        var _sf_startpt=(new Date()).getTime();
    </script>

    <title>{{ COPY.content.project_name }} | NPR</title>

    <!-- META TAGS -->
    {% include '_meta.html' %}

    <!-- FONTS -->
    {% include '_fonts.html' %}

    <!-- CSS -->
    {{ CSS.push('less/app.less') }}

    {% if AUDIO %}
    {{ CSS.push('less/audio.less') }}
    {% endif %}

    {% if VIDEO %}
    {{ CSS.push('less/video.less') }}
    {% endif %}

    {% if FILMSTRIP %}
    {{ CSS.push('less/filmstrip.less') }}
    {% endif %}

    {{ CSS.push('less/graphics.less') }}

    {% block extra_css %}{% endblock extra_css %}
    {{ CSS.render('css/app.min.css') }}

    {% include '_social_tags.html' %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body class="deck-container">
    <!-- ANALYTICS JAVASCRIPT -->
    {{ JS.push('js/lib/modernizr.js') }}
    {{ JS.push('js/lib/cookie.js') }}
    {{ JS.push('js/lib/es6-promise.js') }}
    {{ JS.push('js/lib/cross-storage-client.js') }}
    {{ JS.push('js/app_config.js') }}
    {{ JS.push('js/analytics.js') }}
    {{ JS.render('js/app-header.min.js') }}

    <a class="sr-only" href="#content">Skip To Content</a>

    {% block outer_content %}

    {% block header_content %}
    {% endblock header_content %}

    {% block content %}
    {% endblock content %}
    {% block wide_content %}
    {% endblock wide_content %}

    {% endblock outer_content %}

    {{ JS.push('js/lib/jquery.js') }}
    {{ JS.push('js/lib/underscore.js') }}
    {{ JS.push('js/lib/imgLiquid.js') }}
    {{ JS.push('js/lib/deck.core.js') }}
    {{ JS.push('js/lib/d3.min.js') }}

    {% if AUDIO %}
    {{ JS.push('js/lib/jquery.jplayer.min.js') }}
    {{ JS.push('js/audio.js') }}
    {% endif %}

    {% if FILMSTRIP %}
    {{ JS.push('js/lib/imagesloaded.pkgd.js') }}
    {{ JS.push('js/filmstrip.js') }}
    {% endif %}

    {% if VIDEO %}
    {{ JS.push('js/video.js') }}
    {% endif %}

    {% if PROGRESS_BAR %}
    {{ JS.push('js/progress-bar.js') }}
    {% endif %}

    {{ JS.push('js/copy.js') }}
    {{ JS.push('js/app.js') }}
    {{ JS.push('js/graphic.js') }}
    {% block extra_foot_js %}{% endblock extra_foot_js %}
    {{ JS.render('js/app-footer.min.js') }}

    {% block extra_foot %}
    {% endblock extra_foot %}

    {# Setup Chartbeat last! #}
    <script type="text/javascript">
        $(ANALYTICS.setupChartbeat);
    </script>
</body>
</html>
